*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"poppins",sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(228, 146, 253, 0.5), rgba(90, 20, 102, 0.8)), url(image-asset.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 14px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #55016c;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #55016c;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #55016c;
}

.button-field{
    margin-top: -60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-field button{
    flex-basis: 48%;
    background: #55016c;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: backgorund 1s;
}

.input-group{
    height: 280px;
}

.button-field button.disable{
    background: #eaeaea;
    color: #555;
}

.messageDiv{
    background-color: hsl(327, 90%, 28%);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1rem;
    opacity: 0;
    animation: fadeOut 7s forwards;
}